In [1]:
import pandas as pd

In [11]:
data = pd.read_csv('iris_mult.csv', header=None).reset_index()
del data['index']

In [12]:
data.head()

             0    1    2    3    4
0  Iris-setosa  5.1  3.5  1.4  0.2
1  Iris-setosa  4.9  3.0  1.4  0.2
2  Iris-setosa  4.7  3.2  1.3  0.2
3  Iris-setosa  4.6  3.1  1.5  0.2
4  Iris-setosa  5.0  3.6  1.4  0.2

In [16]:
print(f"Mean: {np.mean(data[1])}")
print(f"Var: {np.var(data[1:5])}")
print(f"Std: {np.std(data[1])}")

Mean: 5.843333333333335
Var: 1    0.025000
2    0.051875
3    0.005000
4    0.000000
dtype: float64
Std: 0.8253012917851409

In [30]:
avg = np.mean(data[:])
avg

1    5.843333
2    3.054000
3    3.758667
4    1.198667
dtype: float64

In [49]:
s = 0.0
norm = []
for index, row in data.iterrows():
    norm.append(np.max(row[1:]))
    s += np.sum((avg - row)*(avg - row))
print(s/len(data))
print(np.max(norm), len(norm))

4.538829333333331
7.9 150

In [33]:
np.std(data)

1    0.825301
2    0.432147
3    1.758529
4    0.760613
dtype: float64

In [36]:
np.var(data.iloc[1,[1,2,3,4]])

3.1118750000000004

In [59]:
data.index

RangeIndex(start=0, stop=150, step=1)

In [60]:
data = data.rename(columns={0:'c'})
data.head()

             c    1    2    3    4
0  Iris-setosa  5.1  3.5  1.4  0.2
1  Iris-setosa  4.9  3.0  1.4  0.2
2  Iris-setosa  4.7  3.2  1.3  0.2
3  Iris-setosa  4.6  3.1  1.5  0.2
4  Iris-setosa  5.0  3.6  1.4  0.2

In [67]:
pos = data[data['c'] == 'Iris-setosa']
neg = data[data['c'] != 'Iris-setosa']

In [71]:
avg_pos = np.mean(pos, axis=0)
avg_neg = np.mean(neg, axis=0)